includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    ignoreErrors:
        -
            message: "#^Cannot call method (fetchOne|fetchAllAssociative)\\(\\) on Doctrine\\\\DBAL\\\\ForwardCompatibility\\\\Result\\|int\\|string\\.$#"
            paths:
                - src/*
    paths:
        - src
        - tests
