parameters:
	ignoreErrors:
		-
			message: "#^Method Ibexa\\\\Bundle\\\\DoctrineSchema\\\\DependencyInjection\\\\DoctrineSchemaExtension\\:\\:load\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/bundle/DependencyInjection/DoctrineSchemaExtension.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Builder\\\\SchemaBuilder\\:\\:__construct\\(\\) has parameter \\$defaultTableOptions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Builder/SchemaBuilder.php

		-
			message: "#^Property Ibexa\\\\DoctrineSchema\\\\Builder\\\\SchemaBuilder\\:\\:\\$defaultTableOptions type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Builder/SchemaBuilder.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Database\\\\DbPlatform\\\\PostgreSqlDbPlatform\\:\\:getDropTableSQL\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/lib/Database/DbPlatform/PostgreSqlDbPlatform.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Database\\\\DbPlatformFactory\\:\\:__construct\\(\\) has parameter \\$dbPlatforms with no value type specified in iterable type iterable\\.$#"
			count: 1
			path: src/lib/Database/DbPlatformFactory.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Database\\\\DbPlatformFactory\\:\\:createDatabasePlatformFromDriverName\\(\\) should return Doctrine\\\\DBAL\\\\Platforms\\\\AbstractPlatform\\|null but returns Ibexa\\\\DoctrineSchema\\\\Database\\\\DbPlatform\\\\DbPlatformInterface\\|null\\.$#"
			count: 1
			path: src/lib/Database/DbPlatformFactory.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Exporter\\\\Table\\\\SchemaTableExporter\\:\\:export\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Exporter/Table/SchemaTableExporter.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Exporter\\\\Table\\\\SchemaTableExporter\\:\\:exportColumns\\(\\) has parameter \\$tableMetadata with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Exporter/Table/SchemaTableExporter.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Exporter\\\\Table\\\\SchemaTableExporter\\:\\:exportColumns\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Exporter/Table/SchemaTableExporter.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Exporter\\\\Table\\\\SchemaTableExporter\\:\\:exportForeignKeys\\(\\) has parameter \\$tableMetadata with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Exporter/Table/SchemaTableExporter.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Exporter\\\\Table\\\\SchemaTableExporter\\:\\:exportForeignKeys\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Exporter/Table/SchemaTableExporter.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Exporter\\\\Table\\\\SchemaTableExporter\\:\\:exportIndices\\(\\) has parameter \\$tableMetadata with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Exporter/Table/SchemaTableExporter.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Exporter\\\\Table\\\\SchemaTableExporter\\:\\:exportIndices\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Exporter/Table/SchemaTableExporter.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Exporter\\\\Table\\\\SchemaTableExporter\\:\\:filterOutIndexDefaultOptions\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Exporter/Table/SchemaTableExporter.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Exporter\\\\Table\\\\SchemaTableExporter\\:\\:filterOutIndexDefaultOptions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Exporter/Table/SchemaTableExporter.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Importer\\\\SchemaImporter\\:\\:addSchemaTableColumns\\(\\) has parameter \\$columnList with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Importer/SchemaImporter.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Importer\\\\SchemaImporter\\:\\:ensureNoExtraKeys\\(\\) has parameter \\$allowedKeys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Importer/SchemaImporter.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Importer\\\\SchemaImporter\\:\\:ensureNoExtraKeys\\(\\) has parameter \\$tableConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Importer/SchemaImporter.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Importer\\\\SchemaImporter\\:\\:importFromArray\\(\\) has parameter \\$schemaDefinition with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Importer/SchemaImporter.php

		-
			message: "#^Method Ibexa\\\\DoctrineSchema\\\\Importer\\\\SchemaImporter\\:\\:importSchemaTable\\(\\) has parameter \\$tableConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/lib/Importer/SchemaImporter.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\\\Doctrine\\\\DBAL\\\\Schema\\\\Schema target schema\\)\\: Unexpected token \"target\", expected variable at offset 124$#"
			count: 1
			path: src/lib/Importer/SchemaImporter.php

		-
			message: "#^Parameter \\#1 \\$columnNames of method Doctrine\\\\DBAL\\\\Schema\\\\Table\\:\\:setPrimaryKey\\(\\) expects array\\<string\\>, array\\<int, int\\|string\\> given\\.$#"
			count: 1
			path: src/lib/Importer/SchemaImporter.php

		-
			message: "#^Method Ibexa\\\\Tests\\\\DoctrineSchema\\\\Builder\\\\SchemaBuilderTest\\:\\:testBuildSchema\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/lib/Builder/SchemaBuilderTest.php

		-
			message: "#^Method class@anonymous/tests/lib/Builder/SchemaBuilderTest\\.php\\:33\\:\\:onBuildSchema\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/lib/Builder/SchemaBuilderTest.php

		-
			message: "#^Method Ibexa\\\\Tests\\\\DoctrineSchema\\\\Exporter\\\\SchemaExporterTest\\:\\:providerForTestExport\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/lib/Exporter/SchemaExporterTest.php

		-
			message: "#^Method Ibexa\\\\Tests\\\\DoctrineSchema\\\\Importer\\\\SchemaImporterTest\\:\\:testImportFromFile\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/lib/Importer/SchemaImporterTest.php
