<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  cacheDirectory=".phpunit.cache"
  colors="true"
>
  <testsuites>
    <testsuite name="lib">
      <directory>tests/lib</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <bootstrap class="Symfony\Bridge\PhpUnit\SymfonyExtension"/>
  </extensions>
</phpunit>
